[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipdb = "*"
ipython = "*"
lambda-gateway = "*"
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.11"
