[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
lambda-gateway = "*"
ruff = "*"
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
