name: py.test
on: push
jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - uses: amancevice/setup-code-climate@v0
        with:
          cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
      - run: cc-test-reporter before-build
      - run: pip install boto3 flake8 pytest pytest-cov
      - run: flake8
      - run: pytest
      - run: cc-test-reporter after-build
